@font-face {
    font-family: "Eras";
    src: url("../../fonts/eras_bold_itc-webfont.woff2") format("woff2"),
         url("../../fonts/eras_bold_itc-webfont.woff") format("woff");
}



#navbar {
    display: flex;
    justify-content: center;
    padding: var(--base);
}

#searchBar {
    border: 2px solid var(--clr-white);
    border-radius: calc(var(--base) - 8px);
    width: calc(var(--base) * 20);
    height: calc(var(--base) + 1.8vh);
    background: none;
    padding: 10px 0px 12px 30px;
    color: var(--clr-white);
    font-family: "Eras", sans-serif;
}

#searchBar:focus {
    outline: none;
}

#searchBar::placeholder {
    color: var(--clr-white);
    opacity: 0.7;
    font-family: "Eras", sans-serif;
    font-size: small;
}

.navbar__wrapper {
    position: relative;
    display: inline-block;
}

.navbar__wrapper-search {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}