@font-face {
    font-family: "Frijole";
    src: url("../../fonts/frijole-regular-webfont.woff2") format("woff2"),
         url("../../fonts/frijole-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Franklin Gothic Medium";
    src: url("../../fonts/franklin_gothic_medium-webfont.woff2") format("woff2"),
         url("../../fonts/franklin_gothic_medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "Audiowide";
    src: url("../../fonts/audiowide-regular-webfont.woff2") format("woff2"),
         url("../../fonts/audiowide-regular-webfont.woff") format("woff");
}

.info {
    color: var(--clr-white);
}

.info__cloudy {
    font-family: "Frijole", sans-serif;
}

.info__sunny {
    font-family: "Franklin Gothic Medium", sans-serif;
}

.info__rainy {
    font-family: "Audiowide", sans-serif;
}

.info__location {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.info__location-name {
    font-size: 1.2rem;
}

.info__temperature {
    font-size: calc(var(--base) * 8);
    letter-spacing: -5px;
}

.info__condition {
    font-size: calc(var(--base) * 3);
}

.info__description {
    width: 25ch;
    font-size: calc(var(--base) * 1.5);
}
