:root {
  --clr-white: #ffffff;
  --base: 1rem;
}

@font-face {
    font-family: "Eras";
    src: url("../fonts/eras_bold_itc-webfont.woff2") format("woff2"),
         url("../fonts/eras_bold_itc-webfont.woff") format("woff");
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
}

body {
  height: 100vh;
  background: url("../img/cloudy.jpg") center center / cover no-repeat;
  padding-left: calc(var(--base) * 5);
  padding-right: calc(var(--base) * 5);
}